body {
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    min-width: 70px;
    max-width: 70px;
    background-color: #343a40;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

    #sidebar.active {
        min-width: 250px;
        max-width: 250px;
    }
    /*parte superior*/
    #sidebar .sidebar-header {
        padding: 10px;
        background-color: #212529;
    }

        #sidebar .sidebar-header i {
            padding: 10px;
            font-size: 20px;
            margin-right: 10px;
        }

        #sidebar .sidebar-header span {
            display: none;
        }

    #sidebar.active .sidebar-header span {
        display: inline;
    }

    #sidebar ul.components {
        padding: 10px 0;
    }


    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #ccc;
        text-decoration: none;
    }

        #sidebar ul li a i {
            padding: 10px;
            font-size: 20px;
            margin-right: 10px;
        }

        #sidebar ul li a span {
            display: none;
        }

    #sidebar.active ul li a span {
        display: inline;
    }

    #sidebar ul li a:hover {
        color: #fff;
        background-color: #2c3136;
    }

#content {
    padding: 20px;
    margin-left: 70px;
    transition: all 0.3s;
}

    #content.active {
        margin-left: 250px;
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 750px) {
    #sidebar {
        margin-left: -70px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        margin-left: 0;
    }

        #content.active {
            margin-left: 250px;
        }
}
